body {
  background: url("https://images.unsplash.com/photo-1516223725307-6f76b9ec8742?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=M3wyNjI5NjF8MHwxfHNlYXJjaHwyN3x8QXVkaW8lMjBQcm9kdWN0aW9ufGVufDB8fHx8MTY4Njg1OTE5MXww&ixlib=rb-4.0.3&q=80&w=1080")
    no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
}
.home {
  padding: 20px;
  margin-top: 30px;
  background-color: white;
}
