.container {
  background-image: url("../../images/intro-bg.jpeg");
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  background-blend-mode: darken;
  background-position: 0% 42%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.container h1 {
  color: white;
  width: 700px;
  font-size: 50px;
  text-align: center;
}
.container p {
  font-size: 23px;
  color: white;
  width: 700px;
  text-align: center;
}
