:where(.css-dev-only-do-not-override-1wazalj).ant-carousel .slick-dots li.slick-active button {
    background: #fff;
    opacity: 1;
    width: 25px;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-carousel .slick-dots li button {
    background: #fff;
    opacity: 0.3;
}

:where(.css-dev-only-do-not-override-1wazalj).ant-carousel .slick-dots-bottom {
    bottom: 30px;
}